<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="false" version="3.0">
	<context-param>
		<param-name>javax.faces.CONFIG_FILES</param-name>
		<param-value>/faces-config.xml</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
	<!-- tree is saved in a hidden parameter, might save server resources -->
	<!-- com.sun.faces.VIEW is the hidden field -->
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>CLIENT</param-value>
	</context-param>
	<context-param>
		<param-name>org.richfaces.SKIN</param-name>
		<param-value>blueSky</param-value>
	</context-param>
	<context-param>
		<param-name>org.richfaces.CONTROL_SKINNING</param-name>
		<param-value>enable</param-value>
	</context-param>
	
	
	<!-- test richfaces -->
	<filter>
	<display-name>
	richFaces Filter</display-name>
	<filter-name>richfaces</filter-name>
	<filter-class>org.ajax4jsf.Filter</filter-class></filter>
	<filter-mapping>
	
	<filter-name>richfaces</filter-name>
	<servlet-name>Faces Servlet</servlet-name>
	<dispatcher>REQUEST</dispatcher>
	<dispatcher>FORWARD</dispatcher>
	<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>FacesServlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<session-config id="tomsSessionId">
		<session-timeout>20</session-timeout>
		<tracking-mode>URL</tracking-mode>
	</session-config>
	<welcome-file-list>
		<welcome-file>bakkerij.xhtml</welcome-file>
	</welcome-file-list>
	<env-entry>
		<env-entry-name>tcleyman/bakkerij</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>bakkerij cleymans</env-entry-value>
	</env-entry>
</web-app>